.banner-principal-decorativo
  &-1
    animation: float1 3.5s ease-in-out infinite alternate
    position: absolute
    top: 5%
    right: 5%
    width: 20%
  &-2
    animation: float1 2.8s ease-in-out infinite alternate
    position: absolute
    top: 70%
    right: 66%
    width: 20%
    
  &-3
    //animation: float1 2.8s ease-in-out infinite alternate
    position: absolute
    top: 10%
    right: 66%
    width: 20%

@keyframes float1
  0%
    transform: translateY(20px)
  100%
    transform: translateY(0px)
  
.banner-principal .tarjeta
  background-position: left 50% !important


.titulo-principal.color-acento-contenido .titulo-principal__numero span
  color: white !important

.banner-interno__titulo__icono i
  color: $color-primario

.titulo-principal.color-acento-contenido .titulo-principal__numero span
  color: black !important

figcaption
  font-weight: normal



//-----------------------------ESTILOS BASE PARA LOS SNIPPETS -------------------------------//
/*CADA VEZ QUE SE HACE PULL PARA ACTUALIZAR LOS SNIPPETS SE DEBE VALIDAR QUE CUENTE CON LOS ESTILOS BASE */
/*SIEMPRE SE DEBEN AGREGAR LOS ESTILOS DESDE ACA HASTA LA PARTE DE ABAJO QUE DICE FIN DE ESTILOS BASE */

.bg
  //colores básicos del componente formativo---------
  &-base 
    background-color: #0E5A52 !important
  &-base2
    background-color: #67CCF1
  &-base3
    background-color: #FE93C4
  &-base4
    background-color: #E2FFF2
  &-1
    background-color: #FFDFFC !important
  &-2
    background-color: #95EBBA !important
  &-3
    background-color: #ECFCFF
  &-4
    background-color: #BABBFC
  &-5
    background-color: #FFD4E7
  &-6
    background-color: #FFE9F3
  &-7
    background-color: #F8FFDF
  &-8
    background-color: #C3C2D8
  &-9
    background-color: $white
  &-10
    background-color: #002D4F

  &-11
    background-color: #FFDFFC !important

  &-11:hover
    background-color: #ECFCFF !important


  //borde redondeado---------
  &-r8
    border-radius: 8px
  
  //Fondos ------------------
  &-01
    background-image: url(../assets/curso/temas/bg1.png)
    background-repeat: no-repeat
    background-size: cover
    margin-inline: -3.2rem !important
  &-02 
    background-color: #b0d8ad !important
  &-03
    background-image: url(../assets/curso/temas/bg6.png)
    background-repeat: no-repeat
    background-size: cover
    margin-inline: -6.2rem !important
  &-04
    background-image: url(../assets/curso/temas/bg5.png)
    background-repeat: no-repeat

    @media (max-width: 768px) 
      background-image: none
      background-color: #002D4F
  &-05
    background-image: url(../assets/curso/temas/bg2.png)
    background-repeat: no-repeat
    background-size: cover
    margin-inline: -6.2rem !important
  &-06
    background-image: url(../assets/curso/temas/bg1.png)
    background-repeat: no-repeat
    background-size: 100% 100%
    background-position: center
    // Margen para escritorio
    margin-inline: -6.2rem !important
    
    // Ajuste CRÍTICO para móviles
    @media (max-width: $bp-max-md)
      margin-inline: -1.5rem !important // Reduce el margen negativo para que no se salga
      background-size: cover
      padding-left: 1rem !important
      padding-right: 1rem !important

  &-07
    background-image: url(../assets/curso/temas/bg1.png)
    background-repeat: no-repeat
    background-size: 100% 100% 
    
    margin-inline: -5.2rem !important
    
    
    @media (max-width: $bp-max-md)
      margin-inline: -1.5rem !important 
      padding-left: 0 !important 
      padding-right: 0 !important 
      background-size: cover 

  &-08
    background-image: url(../assets/curso/temas/bg4.png)
    background-repeat: no-repeat
    background-size: cover
    margin-inline: -6.2rem !important
  


//Títulos con íconos-----------------
.titulo-tres
  margin-bottom: 1.5rem
  h3
    margin-left: 3rem
    margin-right: 1rem
    margin-bottom: 0
  background-color: #C2FFFF
  display: inline-block
  padding: 0.5rem 1rem
  border-radius: 1rem
  position: relative
  &::before
    content: url('../assets/curso/temas/icon.svg')
    position: absolute
    top: 5px
    left: 0
    transform: translate(-10%, -15%)
    width: 57px

//Estilo para listas-----------------
.lista-ul li
  display: flex
  align-items: flex-start
  gap: 3px

.lista-ul__vineta
  flex: 0 0 auto
  margin-top: 2px

.lista-ul li p
  margin: 0

.tabs-b__tab 
  background-color: #FFF7E2

.tabs-b__tab--active 
  background-color: transparent

  ///// SLyder A tipo B Custom --------------------------------------
.slyder-a__tipo-b
  &__tipo-b
    h4, p
      color: white !important

.slyder-a__tipo-b .slyder-a__btn--atrs
  background-color: #FE87F6
  @media screen and (max-width: $bp-max-lg)
    width: 30px
    height: 30px

.slyder-a__tipo-b .slyder-a__btn--sigt
  background-color: #FE87F6
  @media screen and (max-width: $bp-max-lg)
    width: 30px
    height: 30px

.slyder-a__btn--sigt, .slyder-a__btn--atrs  
  border: none

.slyder-a__bullets__item--active
  background-color: #0E5A52 !important
  border: none

.slyder-a__bullets__item
  background-color: #FE87F6

// Carousel Styles
.carousel-bg .fas
 &.fa-chevron-left, &.fa-chevron-right
   display: inline-flex
   align-items: center
   justify-content: center
   width: 40px
   height: 40px
   background-color: $color-acento-botones
   border-radius: 50%
   box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1)
   color: #000
   font-size: 16px
   @media screen and (max-width: $bp-max-lg)
    width: 30px
    height: 30px

// Slider Responsive Styles
@media screen and (max-width: $bp-max-sm)
 .slyder-f
   &__main
     width: 76%
   &__btn
     width: 12%

@media screen and (max-width: $bp-max-xs)
 .slyder-f
   &__main
     width: 60%
   &__btn
     width: 20%

///-------- Icono Imagen ----------///

.icono-img
  position: relative
  width: 10px
  height: 9px
  flex-shrink: 0
  margin-right: 5px
  margin-top: 6px

.icono-img::before 
  content: ''
  position: absolute
  background-image: url('../assets/curso/temas/icon.svg')
  background-size: contain
  background-repeat: no-repeat
  width: 15px
  height: 14px
  left: 0
  top: 50%
  transform: translateY(-50%)


  ///// Custom acordeon A tipo A -------------------------------------- 
.tarjeta.acordeonA
  background-color: #FE87F6

.acordion__accion__btn--a
  background-color: #FE87F6 !important

.acordion__activo
  background-color: #E2FFF2 !important
  color: black !important
  h3
    color: black !important
  
.acordion__titulo
  h3
    color: black 

//Custom Acorden tipo b
.acordion__accion__btn--b
  border: none
  background: #FE87F6
  i
    color: black !important

////////////////

.tabs-c.color-acento-botones .tabs-c__tab--active
  background-color: white !important
  
.tarjeta--boton 
  background-color: #FCC510

.lista-ul--color li > i:first-of-type 
    color: black

.margin-li
  .lista-ul--color li > i:first-of-type
    margin-left: -1rem !important


.m-30
  margin-top: -30px

.slyder-f__btn i 
  color: #FE87F6

.tarjeta-audio.color-acento-botones .tarjeta-audio__texto 
    color: black

.lista-ol--cuadro li 
  display: flex
  align-items: flex-start

.lista-ol--cuadro__vineta 
  margin-right: 12px
  flex-shrink: 0

.lista-ol--cuadro .contenido 
  flex: 1

.tarjeta-avatar 
  text-align: center

.tarjeta-avatar img 
  display: inline-block
  max-width: 100%

.tabs-c__tab 
  background-color: #FFDFFC !important

///cajones de color
.cajon.color1:before          //color de la pestaña del cajón
  background-color: #95EBBA
.cajon.color1
  background-color: #E2FFF2 //color del cajón

.cajon.color2:before
  background-color: #004B84
.cajon.color2
  background-color: #CCDBE6

.cajon.color3:before
  background-color: #0E5A52
.cajon.color3
  background-color: #D0E1DD

.cajon.color4:before
  background-color: #DAFE60
.cajon.color4
  background-color: #F8FFDF

.clr-paleYellow
  background-color: #E2FFF2

/*-----------------------------FIN DE ESTILOS BASE -------------------------------*/

//Bloque de texto C con comillas de cierre
.bloque-texto-c
  // Estilo general para ambas comillas
  i
    color: #FF89C0 !important
    font-size: 2.5em

  // Comilla inicial
  .fa-quote-left
    margin-bottom: 10px
    display: block

  // Comilla final (reemplaza al cuadro)
  .fa-quote-right
    margin-top: 10px
    display: block
  
  // Eliminamos el cuadro rosado si estaba por pseudo-elemento
  &::after
    display: none !important

// Custom para la Línea te tiempo C
.linea-tiempo-c__header__btn, .linea-tiempo-c__header__btn--left, .linea-tiempo-c__header__btn--right, .pasos-b__header__btn--left, .pasos-b__header__btn--right
  background-color: #FE87F6 !important
  border: none

.pasos-b__header__item--before .pasos-b__header__item__dot
  border-color: #95EBBA
  background-color: #95EBBA
  i
    color: black !important

.pasos-b.color-acento-contenido .pasos-b__header__item--active .pasos-b__header__item__dot
  border-color: #FE87F6
  background-color: #FE87F6

.pasos-b__header__item--before .pasos-b__header__item__line-container:after
  background-color: #9D9D9D

.pasos-b__header__item--active .pasos-b__header__item__line-container:before
  background-color: #9D9D9D

.pasos-b__header__item--before .pasos-b__header__item__line-container:before
  background-color: #9D9D9D

.pasos-b__header__item__dot
  border: 3px solid #144567


// Custom PasosA
.pasos-a__linea__esquina__linea
  border: 3px solid
  width: 100%
  position: relative
  border-radius: 0px

// Tarjeta over con cambio de icono
.icono-hover
  position: relative
  width: 80px
  margin: auto

.icono-hover img
  width: 80px
  transition: opacity .3s ease

.icono-hover .icon-hover
  position: absolute
  top: 0
  left: 0
  opacity: 0

.tarjeta-hover:hover .icon-hover
  opacity: 1

.tarjeta-hover:hover .icon-normal
  opacity: 0

//Tarjeta numerada
.tarjeta-numerada
  border: solid 2px
  border-radius: 20px
  position: relative
  margin-left: 30px
  &__numero
    border-radius: 60px
    width: 60px
    height: 60px
    display: inline-block
    position: absolute  
    left: 0
    top: 25px
    transform: translateX(-50%)
    div
      position: absolute
      left: 50%
      top: 50%
      transform: translate(-50%, -50%)

  &.color-primario
    border-color: $color-primario
    .tarjeta-numerada__numero
      background-color: $color-primario
      div
        color: textColor($color-primario)
  &.color-secundario
    border-color: $color-secundario
    .tarjeta-numerada__numero
      background-color: $color-secundario
      div
        color: textColor($color-secundario)
  &.color-acento-contenido
    border-color: $color-acento-contenido
    .tarjeta-numerada__numero
      background-color: $color-acento-contenido
      div
        color: textColor($color-acento-contenido)
  &.color-acento-botones
    border-color: #C3C2D8
    .tarjeta-numerada__numero
      background-color: #C3C2D8
      div
        color: textColor(#C3C2D8)

///////// Card hover --------------------------------------
.crd_hover_txt
  position: relative  
  padding: 0 !important
  overflow: hidden !important  
  &:hover    
    .crd_hover_txt--body   
      transition: all 0.5s cubic-bezier(0.42, 0, 0.58, 1) 
      transform: translateY(0)

  .crd_hover_txt--body
    position: absolute
    padding: 1.5rem
    bottom: 0    
    transition: all 0.5s cubic-bezier(0.42, 0, 0.58, 1)
    transform: translateY(calc( 100% - 3.85rem ))
    background-color: rgba(248, 255, 223, 1) 
  
  @media (min-width:1200px) and (max-width:1400px)  
    .crd_hover_txt--body
      p
        font-size: 0.85em

//Custom Podcast

.tarjeta-audio.color-acento-botones .audio__btn
  background-color: #FE93C4 !important

.tarjeta-audio.color-acento-botones
  background-color: #F8FFDF !important 
  border: 2px solid #FE93C4 !important
  border-radius: 15px !important // Hace que sea rectangular con puntas suavizadas
  padding: 1rem

  // Título del audio (Podcast Instruccional)
  .tarjeta-audio__texto 
    h5, span 
      color: #12263F !important
      font-weight: 900

  .tarjeta-audio__input
    background-color: #FE93C4 !important

    i 
      color: white !important

  // Barra de progreso y punto de avance
  .audio__timeline__bar
    background-color: #D2F45E !important // Fondo verde limón de la barra inactiva
    
    &__active
      background-color: #FE93C4 !important
    
    &__dot
      background-color: #FE93C4 !important

  .audio__time
    color: #12263F !important

///// Linea tiempo D --------------------------------------
.linea-tiempo-d
  &.color-primario
    .linea-tiempo-d__item--selected
      .linea-tiempo-d__item__number
        background-color: $color-acento-botones
        color: textColor($color-acento-botones)
      .linea-tiempo-d__item__content
        background-color: #E2FFF2 !important
        color: textColor($color-acento-contenido)
    .linea-tiempo-d__item__number
       background-color: $color-acento-botones
       color: textColor($color-acento-botones)
    .linea-tiempo-d__item__content
      background-color: #FFDFFC
      color: textColor($color-acento-contenido)

.linea-bold
  .linea-tiempo-d__item__content__title 
    FONT-WEIGHT: BOLD

// Titulo con fondo de color-----------------------------
.titulo-fondo
  //margin-bottom: 0.5rem
  background-color: #FFD4E7
  display: inline-block
  padding: 0.5rem 1rem
  border-radius: 1.5rem
  position: relative
  &::before
    position: absolute
    top: 2px
    left: 0
    transform: translate(-10%, -15%)
    width: 57px

// Icono para listas----------------------------------------
.icono-img
  position: relative
  width: 10px
  height: 9px
  flex-shrink: 0
  margin-right: 10px
  margin-top: 6px

.icono-img::before 
  content: ''
  position: absolute
  background-image: url('../assets/curso/temas/icon2.svg')
  background-size: contain
  background-repeat: no-repeat
  width: 15px
  height: 14px
  left: 0
  top: 50%
  transform: translateY(-50%)
//----------------------------------------------------------

//Custom para btn slyderB-----------
.slyder__btn
  background-color: #FE87F6

.tabs-a__tab 
  background-color: #FFDFFC

.tarjeta-audio.color-acento-botones
  background-color: #0E5A52 !important
  border: 2px solid #FE93C4 !important
  border-radius: 15px !important
  padding: 1rem


.tarjeta-audio.color-acento-botones .audio__btn
    background-color: #15342F !important

.fst-italic
  font-style: normal !important

